footer {
    margin: 20px;

    .container {
        text-align: center;

        .social-media {
            display: none;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;

            @include md {
                display: flex;
            }
        }

        .copyright {
            
            font-size: 14px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            @include lg {
                width: 60%;
            }

            span {
                display: none;

                @include xl {
                    display: inline;
                }
            }
        }


    }
}