header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        gap: 40px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo sw mobile";

        @include xl {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav sw account"
        }

        .logo {
            grid-area: logo
        }

        nav {
            grid-area: nav;
            display: none;
            gap: 20px;


            a {
                text-decoration: none;
                font-weight: 600;
                color: var(--color-gray-900);

                &:active,
                &.active,
                &:hover {
                    color: var(--color-theme);
                    text-decoration: underline;
                }
            }

            @include xl {
                display: flex;
            }
        }

        .btn-switch {
            grid-area: sw;
            display: none;

            @include xl {
                display: block;
            }
        }

        .account-buttons {
            grid-area: account;
            display: none;
            gap: 20px;
            align-items: center;

            @include xl {
                display: flex;
            }

            .profile {
                display: flex;
                justify-content: center;

                .image {
                    position: relative;

                    img {
                        border-radius: 50%;
                        height: 60px;
                        width: 60px;
                        object-fit: cover;
                        border: 1px solid var(--color-gray-400);
                    }
                }

                .btn-mobile {
                    grid-area: mobile;
                    display: block;

                    @include xl {
                        display: none;
                    }
                }
            }
        }
    }
}