.signup {
    margin-bottom: 50px;

    .container {
        width: 95%;

        @include xl {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        form {

            @include xl {
                width: 50%;
                
            }

            h1 {
                margin-bottom: 0;
            }

            .form-content {
                margin-top: 30px;
                display: grid;
                gap: 20px;
                grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "submit";

                @include md {
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "submit submit";
                }

                .input-firstname {
                    grid-area: firstname;
                }

                .input-lastname {
                    grid-area: lastname;
                }

                .input-email {
                    grid-area: email;
                }

                .input-password {
                    grid-area: password;
                }

                .input-confirm {
                    grid-area: confirm;
                }

                .checkbox-group {
                    position: relative;
                    margin-bottom: 30px;
                    grid-area: terms;
                }

                button {
                    grid-area: submit;
                }

            }
        }
    }
}
