.taskmastershowcase {


    .container {
        display: flex;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;

        .task-master-showcase {
            padding-right: 100px;
            padding-left: 20px;
        }


        .bullet-points {

            h2 {
                padding-bottom: 50px;
            }

            .checklist {
                list-style-type: none;

                i {
                    padding-right:15px;
                }
            }
        }
    }
}
