<div class="appshowcase">
    <div class="container">
        <div class="task-master-showcase">
            <img src="~/images/home/apps-phone-image.svg" alt="app image" />
        </div>
        <div class="download">
            <h1>Download Our App for Any Devices:</h1>

            <div class="appstore">
                <div class="store-info">
                    <p>App Store</p>
                    <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <div>
                    <img src="~/images/home/googleplay-icon.svg" alt="google play download" />
                </div>
            </div>
            <div class="googleplay">
                <div class="store-info">
                    <p>Google Play</p>
                    <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <div>
                    <img src="~/images/home/appstore-icon.svg" alt="app store download"/>
                </div>
            </div>
        </div>
    </div>
</div> 