<section class="benefits">
    <div class="container">


        <div class="content">
            <div class="title">
                <h1>What Do You Get With Our Tool?</h1>
                <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
            </div>

            <div class="info-cards">
                <div class="card card-1">
                    <img class="card-icon" src="~/images/icons/benefits-icon-1.svg" />
                    <h5>Comments on Tasks</h5>
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                </div>

                <div class="card card-2">
                    <img class="card-icon" src="~/images/icons/benefits-icon-2.svg" />
                    <h5>Tasks Analytics</h5>
                    <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
                </div>

                <div class="card card-3">
                    <img class="card-icon" src="~/images/icons/benefits-icon-3.svg" />
                    <h5>Multiple Assignees</h5>
                    <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                </div>

                <div class="card card-4">
                    <img class="card-icon" src="~/images/icons/benefits-icon-4.svg" />
                    <h5>Notifications</h5>
                    <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
                </div>

                <div class="card card-5">
                    <img class="card-icon" src="~/images/icons/benefits-icon-5.svg" />
                    <h5>Sections & Subtasks</h5>
                    <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
                </div>

                <div class="card card-6">
                    <img class="card-icon" src="~/images/icons/benefits-icon-6.svg" />
                    <h5>Data Security</h5>
                    <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
                </div>
                
            </div>
        </div>

    </div>
</section>
