<footer>
    <div class="container">
        <div class="social-media">
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p class="copyright">
            &copy; @DateTime.Now.Year Silicon by Createx Studio. All rights reserved. <span>shiggnado going shiggy mode and shiggtastic out of this shiggyshiggsterizing world</span>
        </p>
    </div>
</footer>
