<div class="taskmastershowcase">
    <div class="container">
        <div class="task-master-showcase">
            <img src="~/images/home/content-taskmaster.svg" alt="taskmaster image" />
        </div>
        <div class="bullet-points">
            <h2>Manage Your Work</h2>

            <ul class="checklist">
                <li><i class="fa-sharp fa-regular fa-circle-check"></i>Powerful project management</li>
                <li><i class="fa-sharp fa-regular fa-circle-check"></i>Transparent work management</li>
                <li><i class="fa-sharp fa-regular fa-circle-check"></i>Manage work & focus on the most important tasks</li>
                <li><i class="fa-sharp fa-regular fa-circle-check"></i>Track your progress with interactive charts</li>
                <li><i class="fa-sharp fa-regular fa-circle-check"></i>Easiest way to track time spent on tasks</li>
            </ul>

            <button class="btn-theme btn">Learn More  <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div> 