<div class="theme-showcase">
    <div class="container">
        <div class="title">
            <h1><span class="light">Switch Between</span><span class="dark">Light & Dark Mode</span> </h1>
        </div>
        <div class="dark-laptop-theme">
            <img class="dark-theme-image" src="~/images/home/theme-mode-laptop.svg" />
        </div>

        <div class="light-laptop-theme">
            <img class="light-theme-showcase-laptop" src="~/images/home/light-theme-laptop-screen.svg" />
        </div>
    </div>
</div>