textarea,
select,
input:not([type="checkbox"]) {
    min-width: 300px;
    font-size: 16px;
    font-family: "manrope";
    font-weight: 400 !important;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid var(--color-gray-400);

    &::placeholder {
        opacity: 0.5;
    }
}

.input-search-group {
    position: relative;

    input {
        position: relative;
        padding-right: 40px;
    }

    i {
        position: absolute;
        top: 14px;
        right: 1rem;
    }
}


.select {
    position: relative;
    min-width: 300px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.5 7l4.5 4.5L14.5 7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;


    .selected {
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid var(--color-gray-400);
        cursor: pointer;
    }

    .select-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-400);
        z-index: 10;

        .option {
            padding: 10px;
            cursor: pointer;
        }

        .option:hover {
            background-color: var(--color-gray-400);
        }
    }
}


input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin: 0;
}

form {
    display: grid;
    width: 100%;

    .input-label {
        @include font-semibold;
        padding: 2px 0;
        margin-top: 15px;
    }

    .input-group {
        position: relative;
        display: grid;
    }

    .checkbox-group {
        margin-top: 15px;

        input[type = checkbox] {
            margin-right: 10px;
        }

        label {
            font-weight: 400;
        }

        .input-group {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    input,
    textarea {
        @include font;
        font-size: 1em;
        font-weight: 400 !important;
        color: var(--color-gray-800);
        padding: 16px;
        border-radius: 8px;
        border: 1px solid var(--color-gray-400);

        &::placeholder {
            opacity: 0.5;
        }
    }

    input[type=checkbox] {
        height: 20px;
        width: 20px;
        margin: 0;
    }

    .field-validation-error {
        position: absolute;
        bottom: -25px;
        color: var(--color-danger);
        font-size: 0.9em;
        padding: 2px 0;
    }

    .input-validation-error {
        border: 1px solid var(--color-danger);
    }

    .button {
        @include font;
        font-size: 1em;
        width: 100%;
    }

    .status-message {
        color: var(--color-danger);
    }
}