@{
    ViewData["Title"] = "Home";
}
<partial name="~/Views/Partials/Sections/_Showcase.cshtml" />
<partial name="~/Views/Partials/Sections/_Benefits.cshtml" />
<partial name="~/Views/Partials/Sections/_ThemeShowcase.cshtml" />
<partial name="~/Views/Partials/Sections/_TaskMasterShowcase.cshtml" />
<partial name="~/Views/Partials/Sections/_Subscribe.cshtml" />
<div class="placeholder"></div>