﻿@{
    var user = await UserManager.GetUserAsync(User);
}

@if (user != null)
{
    <section class="account-profile">
        <div class="profile">
            <div class="image">
                <img src="@Configuration["FilePath:ProfileImagePath"]/@user.ProfileImage" alt="" />

                <form enctype="multipart/form-data" method="post" asp-action="ProfileImageUpload" asp-controller="Account">
                    <input id="fileUploader" type="file" name="file" hidden />
                    <label for="fileUploader" class="btn btn-circle btn-circle-sm"><i class="fa-regular fa-refresh"></i></label>
                </form>

            </div>
        </div>
        <div class="info">
            <h3 class="displayname">@user.FirstName @user.LastName</h3>
            <p>@user.Email</p>
        </div>
    </section>
}