@model SignInViewModel
@{
    ViewData["Title"] = "Sign in";
}

<section class="signin">
    <div class="container">

        <form method="post" asp-controller="Auth" asp-action="SignIn">
            <h1>Welcome back</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here</a></p>

            <div class="form-content">

                <div class="status-message">
                    @ViewData["StatusMessage"]
                </div>

                <div class="input-group">
                    <label class="input-label" asp-for="Email"></label>
                    <input asp-for="Email" />
                </div>

                <div class="input-group">
                    <label class="input-label" asp-for="Password"></label>
                    <input asp-for="Password" />
                </div>

                <div class="checkbox-group">
                    <div class="input-group">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe">
                            Remember my login-details.
                        </label>
                    </div>
                </div>
                
                <button class="btn btn-theme" type="submit">Sign in</button>

                <p class="recover-account"><a asp-controller="Auth" asp-action="AccountRecovery">Forgot your password?</a></p>
            </div>
        </form>

    </div>
</section>
